body {
	
}

.up
{
    background-color: #90EE90;
}
.down
{
    background-color: #FF9999;
}

#waitDialog
{
    width: 250px;
    vertical-align: middle;
}
#waitDialog .bd
{
    height: 130px;
    vertical-align: middle;
}
#waitDialog .bd span
{
    text-align:left;
}
#progressbar
{
   position: relative;
   width: 225px;
   height: 18px;
   border: 1px solid black;
   overflow: hidden;
   text-align: left;
}
#progressbar div
{
   float: left;
   background: #316AC5;
   width: 0;
   height: 100%;
}
#percentComplete
{
   width: 225px;
   text-align: center;
   margin: 0px;
   padding: 0px;
}
#statusMessage
{
   width: 225px;
   text-align: left;
}
.complete
{
   color: Green;
}

#top1
{
	margin-left: 9px;
	margin-top:0px;
}
#top1 h3
{
	margin-top: 20px;
	margin-bottom: 15px;
	font-family: 'Century Gothic';
	font-size: 16pt;
	font-weight: 900;
	text-decoration: overline;
	line-height: 3px;
}
#top1 .overlined
{
    text-decoration: overline;
}

.largeSuper 
{
	margin-top: 20px;
	margin-bottom: 15px;
	font-family: 'Century Gothic';
	font-size: 11pt;
	font-weight: 900;
	line-height: 3px;
}

#menu-list
{
	margin-left: 4px;
	margin-top: 15px;
}
#menu-list li
{
	margin:3px;
}

#pagerContainer
{
	height:35px;
	width:100%;
	margin:2px;
	margin-left:5px;
}

.yui-skin-sam .yui-layout-unit-left .yui-layout-hd 
{
	background:#C7C6E3 url(http://yui.yahooapis.com/2.6.0/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1303px;
	height:21px;
}
.yui-skin-sam .yui-layout-unit-right .yui-layout-hd 
{
	background:#C7C6E3 url(http://yui.yahooapis.com/2.6.0/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1303px;
	height:21px;
}
.yui-layout-unit-top div.yui-layout-hd 
{
	height: 0px;
}
.yui-skin-sam .yui-layout-unit-top .yui-layout-bd
{
	 background-position: 0 bottom;
	 background: #C7C6E3 url(http://yui.yahooapis.com/2.6.0/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1300px;
	 border: 1px solid #808080;
	 color: #211F3F;
}

.yui-layout-unit-bottom div.yui-layout-hd {
	height: 0px;
}
